# Ignore HTML files people generated locally
*.html

# The github workflow in ../github/workflows appends !index.html to this file
# so that it ends up in the gh-pages branch.
# Make sure there is always a trailing linefeed, and no CRs.
